<div id="kontakt">
<h1>Kontakt</h1>
<p>Kontaktieren Sie uns unter <a href="mailto:embag@ebp.ch">embag@ebp.ch</a> oder unter <a href="tel:+41443951111">+41 44 395 11 11.</a></p>
<div class="kontakt-container">
{% for contact in site.contacts %}
  <div class="kontakt-item">
    <div class="picture">
        <img src="{{ '/assets/images/contact/' | append: contact.short | append: '.png'  | relative_url }}">
    </div>
    <div class="item">
        <div class="name">
        {{ contact.name }}
        </div>
        <div class="phone">
          {{ contact.phone }}
        </div>
        <div class="email">
          {{ contact.email }}
        </div>
    </div>
  </div>
{% endfor %}          
</div>
</div>
