{% capture badge_content %}
{% if include.badge contains 'Pflicht' %}
{% assign art_num = include.badge | split: " " | last %}
{% fedlex_url = "https://www.fedlex.admin.ch/eli/fga/2023/787/de#art_" | append: art_num}
[![{{ include.badge }}](https://img.shields.io/badge/{{ include.badge | replace: ":", "-" | replace: " ", "_" }}-indianred)]({{fedlex_url}})
{% else %}
![Freiwillig: Best Practice](https://img.shields.io/badge/Freiwillig-Best_Practice-blue)
{% endif %}
{%- endcapture %}
{{ badge_content | markdownify }}
<div class="details">
<dt>
    {{ include.claim }}
</dt>
<dd>
    {{ include.details | markdownify }}
</dd>
</div>
