<div class="details">


{%- for badge in include.badges -%}
    {%- capture badge_content -%}
        {%- if badge contains 'Pflicht' -%}
            {%- assign art_num = badge | split: " " | last -%}
            {%- assign fedlex_url = "https://www.fedlex.admin.ch/eli/fga/2023/787/de#art_" | append: art_num -%}
            [![{{ badge }}](https://img.shields.io/badge/{{ badge | replace: ":", "-" | replace: " ", "_" }}-indianred)]({{fedlex_url}})
        {%- else -%}
            ![Freiwillig: Best Practice](https://img.shields.io/badge/Freiwillig-Best_Practice-blue)
        {%- endif -%}
    {%- endcapture -%}
    {{ badge_content | strip | strip_newlines | markdownify }}
{%- endfor -%}

<dt>
    {{ include.claim }}
</dt>
<dd>
    {{ include.details | markdownify }}
</dd>
</div>
