<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	{% seo title=false %}
	<title>{{ site.title | default: site.github.repository_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6056934/6760552/css/fonts.css" />-->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/fonts.css' | relative_url }}" />
	 
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.ebp.global/sites/default/files/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.ebp.global//sites/default/files/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.ebp.global//sites/default/files/favicons/favicon-16x16.png"/>
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{{ site.description | default: site.github.project_tagline }}" />
  <meta property="og:title" content="{{ site.title | default: site.github.repository_name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ "/"  | absolute_url }}" />
  <meta property="og:description" content="{{ site.description | default: site.github.project_tagline }}" />
  <meta name="author" content="EBP" />
  <meta property="og:image" content="{{ site.share_image }}" />
  <meta name="image" content="{{ site.share_image }}" />

  <script src="{{ '/assets/js/general.js?v=' | append: site.github.build_revision  | relative_url }}"></script>
  <script src="{{ '/assets/js/nav.js?v=' | append: site.github.build_revision  | relative_url }}"></script>
  <script src="{{ '/assets/js/dropdown.js?v=' | append: site.github.build_revision  | relative_url }}"></script>
  <script src="{{ '/assets/js/hamburger.js?v=' | append: site.github.build_revision  | relative_url }}"></script>
	
  </head>
  <body>
    <body id="top" class="">
      <div class="top-wrapper">
          
      <div id="content-wrapper">
        <section id="body">
          <div class="header" id="header">
            <div class="header-image-desktop">
                <img alt="" src="{{ '/assets/images/header_picture_desktop.svg'  | relative_url }}" />
            </div>
            <div class="header-image-mobile">
                <img alt="" src="{{ '/assets/images/header_picture_mobile.svg'  | relative_url }}" />
            </div>
            <div class="title">
                <div class="logo">
		    <a href="/">
                    <img alt="" src="{{ '/assets/images/ebp_logo.svg'  | relative_url }}" />
		    </a>
                </div>
                <div class="hamburger" onclick="openHamburger()">
                    <img alt="" src="{{ '/assets/images/hamburger.svg'  | relative_url }}" />
                    
                </div>
            </div>
          </div>
          <div class="container intro" id="{{ page.title }}">
            <div class="title">
              {{ page.title }}
            </div>
            <div class="content">
                {{ content }}
            </div>
            <div class="img">
                <img alt="" src="{{ '/assets/images/bundeshaus.jpeg'  | relative_url }}" />
                <p class="credit">Felix Imobersteg, <a href="https://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>, via <a href="https://commons.wikimedia.org/wiki/File:Bundeshaus_%28116031825%29.jpeg">Wikimedia Commons</a></p>
            </div>
          </div>  
          {% for section in site.sections %}
          <div class="container common {{ section.extra-class }}" id="{{ section.title }}">
            <div class="title nav" onClick="openNav(event)">
              <div class="text">
                {{ section.title }}
              </div>
              <div class="image">
                <div class="open">
                    <img alt="" src="{{ '/assets/images/chevron_rot.svg'  | relative_url }}" />
                </div>
                <div class="close">
                    <img alt="" src="{{ '/assets/images/minus_grau.svg'  | relative_url }}" />
                </div>
              </div>
            </div>
            <div class="content">
              {{ section.content | markdownify }}
            </div>
          </div>
        {% endfor %}

      <div class="footer container">
        <div class="logo">
         <img alt="" src="{{ '/assets/images/logo.svg'  | relative_url }}" />
         <div class="copyright">
            © EBP 2024
         </div>
        </div>
    
        <div class="logo-text">
            © EBP 2024
        </div>
    </section>
    </div>
    </div>
       <div id="toTop" style="display: block;"><img alt="" src="{{ '/assets/images/angle_up.svg'  | relative_url }}" /></div>
       </div>

   
  </body>
</html>
