<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	{% seo title=false %}
	<title>{{ site.title | default: site.github.repository_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6056934/6760552/css/fonts.css" />
	 
    <link rel="shortcut icon" href="https://www.ebp.ch/themes/custom/ebp/kilokilo/images/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="https://www.ebp.ch/themes/custom/ebp/kilokilo/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://www.ebp.ch/themes/custom/ebp/kilokilo/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://www.ebp.ch/themes/custom/ebp/kilokilo/images/favicon/favicon-64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="https://www.ebp.ch/themes/custom/ebp/kilokilo/images/favicon/favicon-128x128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="https://www.ebp.ch/themes/custom/ebp/kilokilo/images/favicon/favicon-256x256.png" sizes="256x256">
    <link rel="apple-touch-icon" href="https://www.ebp.ch/themes/custom/ebp/kilokilo/images/favicon/favicon-128x128.png">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon_fs.png"  | absolute_url }}">
    <meta name="description" content="{{ site.description | default: site.github.project_tagline }}" />
  <meta property="og:title" content="{{ site.title | default: site.github.repository_name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ "/"  | absolute_url }}" />
  <meta property="og:description" content="{{ site.description | default: site.github.project_tagline }}" />
  <meta name="author" content="EBP" />
  <meta property="og:image" content="{{ site.share_image }}" />
  <meta name="image" content="{{ site.share_image }}" />

  <script src="{{ '/assets/js/general.js'  | relative_url }}"></script>
  <script src="{{ '/assets/js/nav.js'  | relative_url }}"></script>
  <script src="{{ '/assets/js/dropdown.js'  | relative_url }}"></script>
  <script src="{{ '/assets/js/hamburger.js'  | relative_url }}"></script>
	
  </head>
  <body>
    <body id="top" class="">
      <div class="top-wrapper">
          
      <div id="content-wrapper">
        <section id="body">
          <div class="header" id="header">
            <div class="header-image-desktop">
                <img alt="" src="{{ '/assets/images/header_picture_desktop.svg'  | relative_url }}" />
            </div>
            <div class="header-image-mobile">
                <img alt="" src="{{ '/assets/images/header_picture_mobile.svg'  | relative_url }}" />
            </div>
            <div class="title">
                <div class="logo">
                    <img alt="" src="{{ '/assets/images/ebp_logo.svg'  | relative_url }}" />
                </div>
                <div class="hamburger" onclick="openHamburger()">
                    <img alt="" src="{{ '/assets/images/hamburger.svg'  | relative_url }}" />
                </div>
            </div>
          </div>
          <div class="container intro" id="Smart City Guide">
            <div class="title">
              {{ site.title | default: site.github.repository_name }}
            </div>
            <div class="content">
                <p>Was ist eine Smart City? Welche Vorteile bringt sie für Bevölkerung, Wirtschaft und Verwaltung? Und wie wird eine Stadt überhaupt smart? Gemeinsam mit den Städten Aarau, Baden, Dietikon, Dübendorf, Kloten, Schaffhausen und Zug haben wir Antworten gesucht. Mit den Ergebnissen möchten wir auch andere Städte und Gemeinden motivieren, smarter zu werden. Sie finden hier zu Ihnen passende Smart City-Massnahmen und Tipps für die Umsetzung.</p>
            </div>
            <div class="img">
                <img alt="" src="{{ '/assets/images/lead_image.png'  | relative_url }}" />
            </div>
          </div>
          <div class="container common" id="Was ist eine Smart City?">
          <div class="title nav" onClick="openNav(event)">
              <div class="text">
                  Was ist eine Smart City?
              </div>
              <div class="image">
                  <div class="open">
                      <img alt="" src="{{ '/assets/images/chevron_rot.svg'  | relative_url }}" />
                  </div>
                  <div class="close">
                      <img alt="" src="{{ '/assets/images/minus_grau.svg'  | relative_url }}" />
                  </div>
              </div>
          
          <div class="content">
            {{ site.lead_text }}
          </div>
        </div>
        <div class="container common" id="Was ist eine Smart City?">
          <div class="title nav" onClick="openNav(event)">
              <div class="text">
                  Was ist eine Smart City?
              </div>
              <div class="image">
                  <div class="open">
                      <img alt="" src="{{ '/assets/images/chevron_rot.svg'  | relative_url }}" />
                  </div>
                  <div class="close">
                      <img alt="" src="{{ '/assets/images/minus_grau.svg'  | relative_url }}" />
                  </div>
              </div>
          
          <div class="content">
            {{ content }}
          </div>
        </div>


      
      <div class="footer container">
        <div class="logo">
         <img alt="" src="{{ '/assets/images/logo.svg'  | relative_url }}" />
         <div class="copyright">
            © Copyright 2024
         </div>
        </div>
    
        <div class="logo-text">
            ©EBP 2024
        </div>
    </section>
    </div>
    </div>
       <div id="toTop" style="display: block;"><i class="fa fa-angle-up"></i></div>
       </div>

   
  </body>
</html>
